
@font-face {
    font-family: 'Berylium';
    src: url('../fonts/berylium-bold.ttf') format('truetype');         
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Berylium';
    src: url('../fonts/berylium-bold-Italic.ttf') format('truetype');         
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'Berylium';
    src: url('../fonts/berylium.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Berylium';
    src: url('../fonts/berylium-Italic.ttf') format('truetype');         
    font-weight: normal;
    font-style: italic;
}


